* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url('descarga.jpg');
}

.error {
    color: rgb(255, 0, 13);
    display: block;
    margin: 0px auto;
    width: 100%;
    font-family: initial;
    font-size: 20px;
    font-weight: 500;
}

.form-register {
    width: 100%;
    background-color: cadetblue;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}
.form-register h4 {
    font-size: 45px;
    margin-bottom: 20px;
    display: block;
    width: 100%;
    margin: 0px auto;
}
.controls {
    width: 100%;
    display: block;
    background: #fff ;
    padding: 10px;
    border-radius: 4px;
    margin: 30px auto;
    margin-bottom: 0px;
    border: 0px;
    font-family: 'calibri';
    font-size: 18px;
    color: black;
}
.form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.form-register a:hover {
    color: white;
    text-decoration: underline;
}
.form-register .botons {
    width: 75%;
    display: block;
    background: #8b0855;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px auto;
    font-size: 16px;
}

#centrador {
    /* vamos a buscar, las esferas del centrador ♪ ♫ ♪ ♫  */
    display: block;
    width: 50%;
    margin: 0px auto;
}